<ion>
    <ion-header [translucent]="true">
        <ion-toolbar>
        <ion-title>Recuperar Senha</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content [fullscreen]="true" class="ion-padding">
        <h2 style="text-align:center;">Eu Quero Recuperar Minha Senha</h2>
    
        <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" placeholder="Digite seu email"></ion-input>
        </ion-item>
    
        <ion-button expand="block" color="primary" class="ion-margin-top">
        Enviar Link de Recuperação
        </ion-button>
    
        <div style="text-align:center; margin-top:20px;">
        <p>Lembrou sua senha? <a href="/login">Faça login</a></p>
        </div>
    </ion-content>
</ion>