<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
GUANG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Guang</ion-title>
    </ion-toolbar>
  </ion-header>

    <strong text-align="center">Login</strong>

  <div id="container">
    <div id ="block">

  <p>Nome</p>
  <label for="username" >Username</label>
  <input type="text" id="username" name="username" placeholder="Enter username">

  <p>Password</p>
  <label for="password" >Password</label>
  <input type="password" id="password" name="password" placeholder="Enter password">

  <button type="submit">Login</button>

<hr>
  <p>Você não tem uma conta? <a href="#">Sign up</a></p>

  </div>
</div>
</ion-content>
